body {
    
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 50px;
}

header{
    background-color: #082B59;
    border-bottom: 10px solid #d98555;
    align-items: center;
    display: flex;
    
}
.logo{
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}
nav {
    display: flex;
    gap: 50px; /* Space between the nav links */
    justify-content: right;
    margin-left: 50%;
}
nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    


}
  
a {
    color: #59331d;
    
  }
  a:hover {
    text-decoration: none;
  }
  nav a:hover {
    color: #d98555;
  }
  .main-bkgd {
    background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  .main{
    align-items: center;
    margin-left: 40px;
   
  }
  .main img, .main article {
    display: inline-block;
    vertical-align: middle;
    
}
  
 img{
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 .firstIMG{
    display: flex;
    width: 30%;
    margin-top: 20px;
 }
 .secondIMG{
    display: flex;
    width: 30%;
 }
 .main img {
    max-width: 30%;
    height: auto;
    margin: 10px; 
}

.main article {
    max-width: 30%;
    text-align: center;
    margin: 10px;
}
.firstIMG, .secondIMG {
    display: inline-block;
    width: 100%;
}
.firstarticle, .secondarticle {
    display: inline-block;
    width: 100%;
    text-align: center;
}

  footer {
    display: flex;
    background-color: #082B59;
    color: #f2f2f2;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  
  
  footer a {
    display: flex;
    color: #f2f2f2;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
    margin: 0 ;
    padding: 0;
  }

  .footerlink{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    gap: 20px
  }


@media (min-width: 768px) and (max-width: 1024px) {
    header {
        flex-direction: column;
        justify-content: space-between;
    }
    header .logo {
        margin-right: 20px;
    }
    
     nav {
        display: flex;
        margin: 0;
        align-items: center;
        flex-direction: row;
    
    }

    main {
        display: flex;
        flex-direction: column;
    }
    main .firstarticle .firstIMG{
        display: flex;
        flex-direction: row;
    }
   
    

h1{
    margin-left: 30px;;
}

}
@media (min-width: 360px) and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    
      header{
          display: flex;
          flex-direction: column;
          align-items: center;
      }

    .main{
        display: flex;
        flex-direction: column;
        
        margin: 0;
        align-items: center;
        width: 100%;
    }
    main section{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        box-sizing: border-box;
    }
    section img {
        
        width: 100% ;
    }
    .firstIMG, .secondIMG, .thirdIMG {
        object-fit: contain;
    }
    section article {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }
    h1{
        text-align: center;
    }

}